openapi: 3.0.0
info:
  title: Интернет-магазин экотоваров
  version: 1.1.1.
  description: Интернет-магазин товаров, произведенных без вреда для окружающей среды 

servers:
  - url: http://ecotovars.ru/api

paths:
  /products/{category}:
    get:
      summary: Найти товар по категории
      parameters:
        - name: category
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Category'
        '404':
          description: Товар не найден
  /products/{cardID}:
    post:
      summary: Добавить карточку товара по ID
      parameters:
        - name: cardID
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
      responses:
        '201':
          description: Карточка товара успешно добавлена
  /products/{brand}:
    get:
      summary: Найти товар по бренду
      parameters:
        - name: brand
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Brand'
        '404':
          description: Товар не найден
  /products/{ProductID}:
    get:
      summary: Найти товар по ID
      parameters:
        - name: ProductID
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '404':
          description: Товар не найден
    put:
      summary: Обновить товар по ID
      parameters:
        - name: ProductID
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Product'
      responses:
        '200':
          description: Товар успешно обновлён
    delete:
      summary: Удалить товар по ID
      parameters:
        - name: ProductID
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Товар успешно удалён

components:
  schemas:
    Product:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
          example: "Пример товара"
        description:
          type: string
          example: "Описание товара"
        price:
          type: number
          format: float
          example: 1300.60
        categoryId:
          type: string

    Category:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
          example: Косметика

    Order:
      type: object
      properties:
        id:
          type: string
        products:
          type: array
          items:
            $ref: '#/components/schemas/Product'
        totalPrice:
          type: number
          format: float
        
    Brand:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
          example: Adidas

